<%= form_for @post do |f| %>
	<p>
		<%= f.text_area :content, placeholder: 'ゴールを入力してください' %>
		<% if @post.errors.messages[:content].any? %>
		<%= @post.errors.messages[:content][0] %>
		<% end %>
	</p>

	<p>
		<%= f.file_field :image %>
	</p>

	<p>
		<%= f.hidden_field :user_id %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
